.formStyles h4 {
  border-bottom: 2px solid;
}

.formStyles input,
.formStyles textarea {
  font-size: 16px;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 5px solid #fad113;
  width: 100%;
  @apply font-sans;
}

.formStyles fieldset {
  margin-bottom: 10px;
  @apply font-sans font-medium;
}

.formStyles label {
  display: block;
  letter-spacing: -1px;
  @apply font-sans text-sm;
}
