.formStyles h4 {
  border-bottom: 8px solid;
}

.formStyles input,
.formStyles textarea {
  @apply font-sans;
}

.formStyles fieldset {
  margin-bottom: 10px;
  @apply font-sans font-medium;
}

.formStyles label {
  display: block;
  letter-spacing: -1px;
  @apply font-sans text-sm;
}
