.flex {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: -80px;
}

.backgroundimage {
  filter: hue-rotate(17deg) saturate(1.4);
  position: relative;
  flex: 1;
  padding-bottom: 50%;
}

.backgroundimageInner {
  position: relative;
  flex: 1;
}
