.maxheight {
  overflow-y: auto;
}

.fullscreen {
  position: fixed;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.wrapperClass {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
}
