.content {
  @apply text-m-black text-lg leading-relaxed;
}

.content p,
.content ul,
.content ol,
.content blockquote {
  @apply my-6;
}

.content a {
  @apply underline;
  text-decoration-thickness: 4px;
}

.content a:hover {
  @apply text-m-yellow;
  text-decoration-thickness: 4px;
}

.content ul,
.content ol {
  @apply pl-4;
}

.content ul {
  @apply list-disc;
}

.content ol {
  @apply list-decimal;
}

.content ul > li > ul,
.content ol > li > ol {
  @apply my-0 ml-4;
}

.content ul > li > ul {
  list-style: circle;
}

.content h2 {
  @apply text-3xl mt-12 mb-4 leading-snug font-serif;
}

.content h3 {
  @apply text-2xl mt-8 mb-4 leading-snug font-serif;
}

.content h4 {
  @apply text-xl mt-6 mb-4 leading-snug font-serif;
}

.content h5 {
  @apply text-lg mt-4 mb-2 leading-snug font-serif;
}
.content h6 {
  @apply text-lg mt-4 mb-2 leading-snug;
}

.content pre {
  @apply whitespace-pre overflow-x-auto p-4 text-sm leading-tight border border-gray-400 bg-gray-100;
}

.content code {
  @apply text-sm;
}

.content figcaption {
  @apply text-center text-sm;
}

.content blockquote {
  @apply border-l-8 border-m-black bg-m-yellow italic ml-0 py-4 px-6;
}

.content blockquote p {
  @apply mt-0;
}

.content blockquote cite {
  @apply not-italic;
}

.content audio {
  @apply w-full;
}

.content hr {
  @apply mt-8 mb-8 border-t-4 border-m-black w-60 mx-auto;
}
